div{
    width: 100px;
    height: 100px;
}
div.box1{
    background-color: #dad7d7;
    position: relative;
    z-index: 1;
}
div.box2{
    background-color: #ffe7bc;
    position: relative;
    top: -80PX;
    left: 50px;
    z-index: 2;
}
div.box3{
    background-color: #ffe7bc;
    position: relative;
    top: -160PX;
    left: 100px;
    z-index: 3;
}